@import url("https://fonts.googleapis.com/css?family=Lobster|Skranji|Indie+Flower|Lato|Skranji");
body {
  margin: 0;
  /*ABOUT */
  /* SKILLS */
  /* EXPERIENCE */
  /* PORTFOLIO */
  /* RECOMMANDATIONS */
  /* CONTACT */
  /* FOOTER */
}

body #background {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
}

body #background .cb-slideshow,
body #background .cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0;
}

body #background .cb-slideshow li {
  list-style: none;
}

@media screen and (min-width: 1024px) {
  body #background .cb-slideshow li h3 {
    color: white;
    list-style: none;
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 50%;
    left: 45%;
    opacity: 0;
    -webkit-animation: titleAnimation 30s linear 0s;
            animation: titleAnimation 30s linear 0s;
  }
  body #background .cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    color: transparent;
    opacity: 0;
    -webkit-animation: imageAnimation 27s linear 0s;
            animation: imageAnimation 27s linear 0s;
  }
  body #background .cb-slideshow li:nth-child(4) span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    color: transparent;
    opacity: 0;
    -webkit-animation: imageAnimationLast 9s linear 0s;
            animation: imageAnimationLast 9s linear 0s;
  }
  body #background .cb-slideshow li:nth-child(1) span {
    background-image: url(../img/background1.jpg);
  }
  body #background .cb-slideshow li:nth-child(2) span {
    background-image: url(../img/background2.jpg);
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  body #background .cb-slideshow li:nth-child(3) span {
    background-image: url(../img/background3.jpg);
    -webkit-animation-delay: 14s;
            animation-delay: 14s;
  }
  body #background .cb-slideshow li:nth-child(4) span {
    background-image: url(../img/background4.jpg);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 21s;
            animation-delay: 21s;
  }
  body #background .cb-slideshow li:nth-child(2) div h3 {
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  body #background .cb-slideshow li:nth-child(3) div h3 {
    -webkit-animation-delay: 14s;
            animation-delay: 14s;
  }
  body #background .cb-slideshow li:nth-child(4) div h3 {
    -webkit-animation-delay: 21s;
            animation-delay: 21s;
  }
  @-webkit-keyframes imageAnimation {
    0% {
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    8% {
      opacity: 1;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    17% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes imageAnimation {
    0% {
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    8% {
      opacity: 1;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    17% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes imageAnimationLast {
    0% {
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    8% {
      opacity: 1;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    17% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes imageAnimationLast {
    0% {
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    8% {
      opacity: 1;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    17% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes titleAnimation {
    0% {
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    8% {
      opacity: 1;
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    17% {
      opacity: 1;
      -webkit-transform: scale(3);
              transform: scale(3);
    }
    25% {
      opacity: 0;
      -webkit-transform: scale(3.5);
              transform: scale(3.5);
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes titleAnimation {
    0% {
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    8% {
      opacity: 1;
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    17% {
      opacity: 1;
      -webkit-transform: scale(3);
              transform: scale(3);
    }
    25% {
      opacity: 0;
      -webkit-transform: scale(3.5);
              transform: scale(3.5);
    }
    100% {
      opacity: 0;
    }
  }
  body #background .sp-circle-link {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 17%;
    margin-left: -50px;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    background: #5f5c5e;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    opacity: 0.7;
    -webkit-animation: fadeInRotate 1s linear 27s backwards;
            animation: fadeInRotate 1s linear 27s backwards;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  body #background .sp-circle-link2 {
    position: absolute;
    left: 50%;
    bottom: 100px;
    margin-left: -50px;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 50%;
  }
  @-webkit-keyframes fadeInRotate {
    0% {
      opacity: 0;
      -webkit-transform: scale(0) rotate(360deg);
              transform: scale(0) rotate(360deg);
    }
    100% {
      opacity: 0.3;
      -webkit-transform: scale(1) rotate(0deg);
              transform: scale(1) rotate(0deg);
    }
  }
  @keyframes fadeInRotate {
    0% {
      opacity: 0;
      -webkit-transform: scale(0) rotate(360deg);
              transform: scale(0) rotate(360deg);
    }
    100% {
      opacity: 0.3;
      -webkit-transform: scale(1) rotate(0deg);
              transform: scale(1) rotate(0deg);
    }
  }
  body #background #goToEnd {
    cursor: pointer;
    position: relative;
    z-index: 1000;
    background-color: transparent;
    border: white;
    font-family: 'Lobster', cursive;
    color: white;
    top: 93%;
    left: 89%;
    font-size: 1.5em;
    opacity: 0.8;
  }
}

body main {
  display: none;
  /* GENERAL */
  font-family: 'Lato', sans-serif;
}

body main h1,
body main h2,
body main h3,
body main h4,
body main h5,
body main h5 {
  font-weight: bold;
}

body main h2 {
  text-align: center;
  padding-bottom: 25px;
  text-transform: uppercase;
}

body main img {
  max-width: 100%;
  height: auto;
}

body main section {
  padding: 45px 0 80px 0;
}

body main section ul li,
body main section ol li {
  list-style: none;
}

body main .red-divider {
  width: 100px;
  height: 2px;
  background: #d82c2e;
  margin: 0 auto 20px;
}

body main .white-divider {
  width: 100px;
  height: 2px;
  background: #fff;
  margin: 0 auto 20px;
}

body .menu {
  background: #d82c2e;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px solid #fff;
}

body .menu .nav-link:hover,
body .menu .nav-link.active {
  background-color: #fff;
  color: #d82c2e !important;
}

body #about {
  padding-top: 100px;
  background: #d82c2e;
}

body #about .profile-picture {
  text-align: center;
  margin: 0 auto;
  float: none;
}

body #about .heading {
  text-align: center;
  padding-bottom: 25px;
}

body #about .heading h1 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px;
}

body #about .heading h3 {
  color: #403636;
}

body #about .heading .button1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

body #about .heading .button1:hover {
  background: white;
  color: #d82c2e;
  text-decoration: none;
}

body #skills {
  background: #fff;
}

body #skills h2 {
  color: #d82c2e;
}

body #skills .progress {
  height: 20%;
  margin: 30px 20px;
  -webkit-backface-visibility: #ddd;
          backface-visibility: #ddd;
}

body #skills .progress h5 {
  text-shadow: 1px 1px 1px #000;
}

body #skills .progress-bar {
  background: #d82c2e;
}

body #experience {
  background: #d82c2e;
}

body #experience h2 {
  color: #fff;
}

body #experience .timeline {
  padding: 30px 10px;
  position: relative;
}

body #experience .timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color: #333;
  left: 50%;
  margin-left: -2.5px;
}

body #experience .timeline > li {
  margin-bottom: 20px;
  position: relative;
}

body #experience .timeline > li:after {
  clear: both;
}

body #experience .timeline > li:after, body #experience .timeline > li:before {
  content: "";
  display: table;
}

body #experience .timeline li .timeline-badge {
  color: #d82c2e;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -25px;
  background-color: #ddd;
  border-radius: 50%;
}

body #experience .timeline li .timeline-panel-container {
  width: 50%;
  float: left;
}

body #experience .timeline li .timeline-panel-container .timeline-panel {
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 15px 25px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: #fff;
}

body #experience .timeline li .timeline-panel-container .timeline-panel:after {
  position: absolute;
  top: 20px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

body #experience .timeline li .timeline-panel-container-inverted {
  width: 50%;
  float: right;
}

body #experience .timeline li .timeline-panel-container-inverted .timeline-panel {
  width: 90%;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 15px 25px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: #fff;
  float: left;
  margin-left: 40px;
}

body #experience .timeline li .timeline-panel-container-inverted .timeline-panel:after {
  position: absolute;
  top: 20px;
  left: -14px;
  display: inline-block;
  border-left-width: 0;
  border-right-width: 14px;
  border-top: 14px solid transparent;
  border-left: 0px solid #fff;
  border-right: 14px solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

body #experience .timeline li .timeline-heading h3 {
  margin-top: 5px;
  font-size: 20px;
}

body #experience .timeline li .timeline-heading h4 {
  color: #d82c2e;
}

body #education {
  background: #fff;
}

body #education h2 {
  color: #d82c2e;
}

body #education .education-block {
  width: 80%;
  margin: 0;
  text-align: center;
  padding: 30px;
  background: #ddd;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-left: 45px;
  margin-bottom: 20px;
}

body #education .education-block h5 {
  color: #888;
  font-size: 15px;
  margin-bottom: 15px;
}

body #education .education-block i.fa-graduation-cap {
  font-size: 40px;
}

body #education .education-block h3 {
  color: #d82c2e;
}

body #education .education-block h4 {
  margin-bottom: 20px;
}

body #education .education-block p {
  font-weight: bold;
}

body #education .education-block .red-divider {
  margin-bottom: 20px;
}

body #portfolio {
  background: #d82c2e;
}

body #portfolio h2 {
  color: #fff;
}

body #recommandation {
  background: #fff;
}

body #recommandation h2 {
  color: #d82c2e;
}

body #recommandation #myCarousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d82c2e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

body #recommandation #myCarousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d82c2e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

body #recommandation #myCarousel .carousel-indicators {
  margin: -30px 0;
}

body #recommandation #myCarousel .carousel-indicators li {
  border-color: #d82c2e !important;
  height: 15px;
  width: 15px;
}

body #recommandation #myCarousel .carousel-indicators li.active {
  background-color: #d82c2e;
}

body #recommandation #myCarousel .carousel-item h3 {
  color: #d82c2e;
  font-style: italic;
  font-family: 'Indie Flower', cursive;
  text-shadow: 2px 2px 2px #ccc;
}

body #recommandation #myCarousel .carousel-item h4 {
  font-family: 'Skranji', cursive;
}

body #contact {
  background-color: #d82c2e;
  font-size: 20px;
  color: #fff;
}

body #contact #contact-form {
  padding: 40px;
  border-radius: 10px;
}

body #contact #contact-form input[type=submit] {
  margin: 40px auto 0px;
  display: block;
}

body #contact #contact-form .comments {
  font-style: italic;
  font-size: 18px;
  color: #d82c2e;
  height: 25px;
}

body #contact #contact-form .thank-you {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}

body #contact #contact-form .button1 {
  background: transparent;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  text-align: center;
}

body #contact #contact-form .button1:hover {
  background: white;
  color: #d82c2e;
  text-decoration: none;
}

body footer {
  background: #333;
  padding: 20px 0 40px;
}

body footer .fa-chevron-up {
  color: #d82c2e;
  font-size: 25px;
  margin: 20px;
  height: 30px;
}

body footer .fa-chevron-up:hover {
  font-size: 27px;
}

body footer h5 {
  color: #fff;
  font-weight: normal;
}

@media (max-width: 768px) {
  .second {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */